---
Checks: '-*,
mpi-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-non-zero-enum-to-bool-conversion,
-bugprone-suspicious-include,
cert-dcl50-cpp,
cert-dcl58-cpp,
cert-env33-c,
cert-err34-c,
cert-err52-cpp,
cert-err58-cpp,
cert-err60-cpp,
cert-flp30-c,
cert-mem57-cpp,
cert-msc50-cpp,
cert-msc51-cpp,
cert-oop57-cpp,
cert-oop58-cpp,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-prefer-member-initializer,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-special-member-functions,
google-global-names-in-headers,
google-runtime-int,
hicpp-multiway-paths-covered,
hicpp-avoid-goto,
hicpp-exception-baseclass,
llvm-else-after-return,
misc-*,
-misc-use-anonymous-namespace,
-misc-misplaced-const,
-misc-non-private-member-variables-in-classes,
modernize-*,
-modernize-use-auto,
-modernize-use-trailing-return-type,
-modernize-use-ranges,
openmp-use-default-none,
performance-*,
-performance-avoid-endl,
-performance-no-int-to-ptr,
portability-simd-intrinsics,
portability-std-allocator-const,
readability-*,
-readability-function-size,
-readability-identifier-length,
-readability-magic-numbers,
-readability-math-missing-parentheses,
-readability-redundant-member-init,
-readability-uppercase-literal-suffix,
-readability-use-std-min-max'
CheckOptions:
  bugprone-multi-level-implicit-pointer-conversion.EnableInC: false
  bugprone-unused-return-value.CheckedFunctions: '^::[A-Z][^m\n][^G\n]?[^u\n]?[^i\n]?.*$'
  bugprone-unused-return-value.AllowCastToVoid: true
  misc-include-cleaner.IgnoreHeaders: "glm/.*;nlohmann/.*"
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-operators-representation.BinaryOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  readability-operators-representation.OverloadedOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='

  readability-identifier-naming.AbstractClassCase: CamelCase
  readability-identifier-naming.ClassCase: CamelCase
  readability-identifier-naming.ClassConstexprCase: UPPER_CASE
  readability-identifier-naming.ClassConstantCase: UPPER_CASE
  readability-identifier-naming.ClassMemberCase: camelBack
  readability-identifier-naming.ClassMethodCase: CamelCase
  readability-identifier-naming.ConceptCase: CamelCase
  readability-identifier-naming.ConstantCase: camelBack
  readability-identifier-naming.ConstantMemberCase: UPPER_CASE
  readability-identifier-naming.ConstantParameterCase: camelBack
  readability-identifier-naming.ConstantPointerParameterCase: camelBack
  readability-identifier-naming.ConstexprFunctionCase: CamelCase
  readability-identifier-naming.ConstexprMethodCase: CamelCase
  readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.EnumCase: CamelCase
  readability-identifier-naming.EnumConstantCase: UPPER_CASE
  readability-identifier-naming.FunctionCase: CamelCase
  readability-identifier-naming.GlobalConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantCase: UPPER_CASE
  readability-identifier-naming.GlobalConstantPointerCase: UPPER_CASE
  readability-identifier-naming.GlobalFunctionCase: CamelCase
  readability-identifier-naming.GlobalPointerCase: camelBack
  readability-identifier-naming.GlobalVariableCase: camelBack
  readability-identifier-naming.InlineNamespaceCase: CamelCase
  readability-identifier-naming.LocalConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.LocalConstantCase: camelBack
  readability-identifier-naming.LocalConstantPointerCase: camelBack
  readability-identifier-naming.LocalPointerCase: camelBack
  readability-identifier-naming.LocalVariableCase: camelBack
  readability-identifier-naming.MacroDefinitionCase: UPPER_CASE
  readability-identifier-naming.MemberCase: camelBack
  readability-identifier-naming.MethodCase: CamelCase
  readability-identifier-naming.NamespaceCase: CamelCase
  readability-identifier-naming.ParameterCase: camelBack
  readability-identifier-naming.ParameterPackCase: camelBack
  readability-identifier-naming.ParameterPackSuffix: s
  readability-identifier-naming.PointerParameterCase: camelBack
  readability-identifier-naming.PrivateMemberCase: camelBack
  readability-identifier-naming.PrivateMethodCase: CamelCase
  readability-identifier-naming.ProtectedMemberCase: camelBack
  readability-identifier-naming.ProtectedMethodCase: CamelCase
  readability-identifier-naming.PublicMemberCase: camelBack
  readability-identifier-naming.PublicMethodCase: CamelCase
  readability-identifier-naming.ScopedEnumConstantCase: UPPER_CASE
  readability-identifier-naming.StaticConstexprVariableCase: UPPER_CASE
  readability-identifier-naming.StaticConstantCase: UPPER_CASE
  readability-identifier-naming.StaticVariableCase: camelBack
  readability-identifier-naming.StructCase: CamelCase
  readability-identifier-naming.TemplateParameterCase: CamelCase
  readability-identifier-naming.TemplateTemplateParameterCase: CamelCase
  readability-identifier-naming.TypeAliasCase: CamelCase
  readability-identifier-naming.TypedefCase: CamelCase
  readability-identifier-naming.TypeTemplateParameterCase: CamelCase
  readability-identifier-naming.UnionCase: CamelCase
  readability-identifier-naming.ValueTemplateParameterCase: UPPER_CASE
  readability-identifier-naming.VariableCase: camelBack
  readability-identifier-naming.VirtualMethodCase: CamelCase

ImplementationFileExtensions:
  - 'c'
  - 'cpp'
  - 'ipp'
  - 'tpp'