---
Checks: '-*,
mpi-*,
bugprone-*,
-bugprone-easily-swappable-parameters,
-bugprone-implicit-widening-of-multiplication-result,
-bugprone-non-zero-enum-to-bool-conversion,
-bugprone-suspicious-include,
cert-dcl50-cpp,
cert-dcl58-cpp,
cert-env33-c,
cert-err34-c,
cert-err52-cpp,
cert-err58-cpp,
cert-err60-cpp,
cert-flp30-c,
cert-mem57-cpp,
cert-msc50-cpp,
cert-msc51-cpp,
cert-oop57-cpp,
cert-oop58-cpp,
cppcoreguidelines-*,
-cppcoreguidelines-avoid-magic-numbers,
-cppcoreguidelines-avoid-non-const-global-variables,
-cppcoreguidelines-non-private-member-variables-in-classes,
-cppcoreguidelines-owning-memory,
-cppcoreguidelines-prefer-member-initializer,
-cppcoreguidelines-pro-bounds-pointer-arithmetic,
-cppcoreguidelines-pro-type-reinterpret-cast,
-cppcoreguidelines-pro-type-union-access,
-cppcoreguidelines-pro-type-vararg,
-cppcoreguidelines-special-member-functions,
google-global-names-in-headers,
google-runtime-int,
hicpp-multiway-paths-covered,
hicpp-avoid-goto,
hicpp-exception-baseclass,
llvm-else-after-return,
misc-*,
-misc-use-anonymous-namespace,
-misc-misplaced-const,
-misc-non-private-member-variables-in-classes,
modernize-*,
-modernize-use-auto,
-modernize-use-trailing-return-type,
-modernize-use-ranges,
openmp-use-default-none,
performance-*,
-performance-avoid-endl,
-performance-no-int-to-ptr,
portability-simd-intrinsics,
portability-std-allocator-const,
readability-*,
-readability-function-size,
-readability-identifier-length,
-readability-magic-numbers,
-readability-math-missing-parentheses,
-readability-redundant-member-init,
-readability-uppercase-literal-suffix,
-readability-use-std-min-max'
CheckOptions:
  bugprone-multi-level-implicit-pointer-conversion.EnableInC: false
  bugprone-unused-return-value.CheckedFunctions: '^::[A-Z][^m\n][^G\n]?[^u\n]?[^i\n]?.*$'
  bugprone-unused-return-value.AllowCastToVoid: true
  misc-include-cleaner.IgnoreHeaders: "glm/.*;nlohmann/.*"
  misc-non-private-member-variables-in-classes.IgnoreClassesWithAllMemberVariablesBeingPublic: true
  readability-function-cognitive-complexity.IgnoreMacros: true
  readability-operators-representation.BinaryOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='
  readability-operators-representation.OverloadedOperators: '&&;&=;&;|;~;!;!=;||;|=;^;^='
ImplementationFileExtensions:
  - 'c'
  - 'cpp'
  - 'ipp'
  - 'tpp'