name: Windows Build

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: windows-latest

    strategy:
      matrix:
        build_type: [ Debug, Release ]
        include:
          - build_type: Debug
            zip_name: game-sdk.windows.debug
          - build_type: Release
            zip_name: game-sdk.windows.release

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: 'true'

    - name: Setup MSYS2
      uses: msys2/setup-msys2@v2
      with:
          msystem: UCRT64
          install: >-
            git
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-cmake
            mingw-w64-ucrt-x86_64-zlib
            mingw-w64-ucrt-x86_64-glew
            mingw-w64-ucrt-x86_64-vulkan-headers
            mingw-w64-ucrt-x86_64-glslang
            mingw-w64-ucrt-x86_64-glm
            mingw-w64-ucrt-x86_64-sdl3
            mingw-w64-ucrt-x86_64-assimp
          update: true

    - name: Convert github.workspace to mingw path
      shell: msys2 {0}
      run: echo "MINGW_WORKSPACE=$(cygpath -u '${{github.workspace}}')" >> $GITHUB_ENV

    - name: Configure CMake
      shell: msys2 {0}
      run: cmake -B "$MINGW_WORKSPACE/build-${{ matrix.build_type }}" -DCMAKE_BUILD_TYPE=${{ matrix.build_type }}

    - name: Build
      shell: msys2 {0}
      run: cmake --build "$MINGW_WORKSPACE/build-${{ matrix.build_type }}" --config ${{ matrix.build_type }}

    - name: Upload results
      uses: actions/upload-artifact@v4
      with:
        name: ${{ matrix.zip_name }}
        path: |
          build-${{ matrix.build_type }}/bin/
        retention-days: 90
